extends layout

block content
  //- banner
  .banner
    .herotext
      br
      h1 Explore 
      br
      br
      br
      br
      h2 Check out our upcoming deals
  //- Intro
  .galleryIntro
    h2 Gallery
  .flex-container
    figure.flex-item
      img(src='images/mald1.jpg' alt='Lab')
      figcaption Thailand starting from $4000
    figure.flex-item
      img(src='images/mald2.jpg' alt='Hat')
      figcaption Thailand starting from $2500
    figure.flex-item
      img(src='images/thai1.jpg' alt='Sleeping')
      figcaption Maldives starting from $3000
    figure.flex-item
      img(src='images/thai2.jpg' alt='Pug')
      figcaption Maldives starting from $3500
    figure.flex-item
      img(src='images/gre1.jpg' alt='Whats that?')
      figcaption Greece starting from $3500
    figure.flex-item
      img(src='images/gre2.jpg' alt='Lab')
      figcaption Greece starting from $4500
  //- Comment
  footer
    p Copyright &copy; 2021