doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    //- Comment
    header
      //- navagation
      nav
        ul
          li
            a(href='/contact') Contact
          li
            a(href='/login') Login
          li
            a(href='/gallery') Gallery
          li
            a(href='/') Home

    block content
